* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

html {
  height: 100%;
}

header img {
  width: 170px;
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 5px 20px;
}

a {
  text-decoration: none;
  font-family: "Rubik";
  color: #707070;
}

span {
  color: #f83eaa;
  font-weight: bold;
}

/* navigation menu */
.inactive_page a:hover {
  border-bottom: 2px solid #f83eaa;
}

.active_page a {
  font-weight: bold;
  border-bottom: 3px solid #f83eaa;
}

.main_nav {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Landing page welcoming area */

.welcome {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  align-items: center;
}

.welcome img {
  width: 30%;
  height: auto;
  margin-left: 20px;
}

p {
  color: #585858;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.5;
}

p#hi {
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 0.8em;
}

/* Footer styling */

footer {
  background-color: #f0f0f0;
  display: flex;
  height: 60px;
  align-items: center;
  width: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: auto;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.social_media {
  padding-left: 50px;
}

footer a {
  font-size: 0.9em;
}

footer a:hover {
  text-decoration: underline;
}

/* Changes of header/navigation menu/footer of screen size < 600px */
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navigation ul li {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-align: center;
  }
  .active_page a {
    color: #f83eaa;
    border: none;
  }
  .inactive_page a:hover {
    font-weight: bold;
    border: none;
  }

  .social_media {
    margin: 0 auto;
    padding: 0;
  }
}

/* Change of landing page of screen < 800px */
@media screen and (max-width: 800px) {
  .welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .welcome img {
    margin-top: 5%;
    width: 250px;
    height: auto;
  }
}

/* Projects overview page */

.projects_overview {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}

/* Top block with projects presentation */
.overview_intro {
  padding: 2% 7%;
  font-size: 2.5vw;
}

.overview_intro p {
  font-weight: bold;
}

/* Project block styling */
.project {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project img {
  width: 40%;
  height: auto;
}

.proj_description {
  width: 50%;
}

.proj_description h1 {
  color: #2e2e2e;
  font-size: 2vw;
  padding-bottom: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.proj_description p {
  color: #2e2e2e;
  font-size: 1.5vw;
  font-weight: 400;
}

/* Projects blocks background */

.project#bespoke {
  background-color: #f8f991;
}

.project#rijksstudio {
  background-color: #708b75;
}

.project#uxapp {
  background-color: #9ab87a;
}

.project#processing {
  background-color: #fceade;
}

.project#illustrator {
  background-color: #ff8a5b;
}

/* Project showcase page settings */

.project_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  color: #585858;
  padding: 4%;
  text-align: center;
}

/* Tools/Skills/Picture of the project */
.project_intro {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
}

.project_intro img {
  width: 50%;
  height: auto;
  padding-bottom: 1rem;
}

.tools h1,
.skills h1 {
  margin-bottom: 1em;
  color: #707070;
  font-size: 2.3vw;
}

.tools ul,
.skills ul {
  list-style: none;
  color: #f83eaa;
  font-size: 1.5vw;
}

/* Main content of project description*/
.project_main {
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
}

.project_main p {
  position: relative;
  margin: 0 auto;
  font-size: 1.7vw;
}

.project_main h1,
.project_main h2 {
  color: #585858;
  margin: 50px 0 20px 0;
}

.project_main h1 {
  text-transform: uppercase;
  font-size: 3vw;
  text-decoration: underline;
}

.project_main h2 {
  font-size: 2vw;
}

.project_main h3 {
  color: #f83eaa;
  margin: 20px 0;
  font-size: 1.9vw;
}

.project_main h4 {
  font-size: 1.8vw;
  color: #585858;
  padding-top: 15px;
  text-decoration: underline;
  margin: 20px 0;
}

.project_main img {
  width: 90%;
  display: block;
  margin: 20px auto;
}

.project_main ul,
.project_main ol {
  padding-left: 50px;
  padding-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.project_main li {
  font-size: 1.7vw;
  color: #585858;
}

img.smaller_pic {
  width: 60%;
}

.project_main a {
  color: #f83eaa;
  font-weight: bold;
  font-family: "Lato";
}

/* My app project styling */

.ui_example,
.screen_example {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_block {
  padding-right: 13%;
}

.ui_example img {
  width: 100%;
}

.screen_example img {
  width: 50%;
}

.screen_example {
  padding-top: 50px;
}

/* Processing project styling */
/* Blocks of example images/video */
.processing_example {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.processing_example img {
  width: 30%;
}

.processing_example video {
  width: 80%;
  display: block;
  margin: 20px auto;
}

/* illustrator project styling */
.logo_bulb {
  display: flex;
  align-items: center;
}

.logo_bulb img {
  width: 30%;
  padding-right: 50px;
}

/* Change of project showcase page of screen < 600px */
@media screen and (max-width: 600px) {
  .project_main h1 {
    font-size: 2em;
  }

  .project_main h2 {
    font-size: 1.8em;
  }

  .tools h1,
  .skills h1 {
    font-size: 1.5em;
  }

  .tools ul,
  .skills ul {
    font-size: 0.8em;
  }
}

/* About page styling */

.about_intro {
  width: 80%;
  margin: 50px auto;
  font-size: 1.8vw;
}

.personal_photos {
  display: flex;
  align-items: center;
}

.personal_photos img {
  width: 20%;
  height: auto;
}

.about_description {
  width: 70%;
  margin: 40px auto;
  font-size: 0.9vw;
}

.about_description ul {
  font-size: 2vw;
  color: #585858;
  list-style: none;
  font-weight: 300;
}

/* work experience and education block */

.work_heading {
  color: #585858;
  font-size: 2vw;
  text-align: center;
  margin: 50px 0;
}

.work_experience {
  display: grid;
  align-items: flex-start;
  width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  font-family: "Rubik";
  color: #2e2e2e;
}

.work,
.education {
  border-radius: 20px;
  padding: 50px 50px;
}

.education {
  text-align: center;
}

.work ul {
  line-height: 2;
  font-size: 16px;
}

.work_experience h2,
.work_experience h3 {
  padding-bottom: 20px;
  letter-spacing: 0.2em;
  color: #585858;
}

.work_experience h3 {
  font-weight: 400;
  font-size: 18px;
}

.work_experience h2 {
  font-size: 24px;
}

.work#first_work {
  background-color: #f8f991;
}

.work#second_work {
  background-color: #ff8a5b;
}

.work#third_work {
  background-color: #9ab87a;
}

.education#first_uni {
  background-color: #84b59f;
}

.education#second_uni {
  background-color: #ddd8c4;
}

/* Contact page styling */

.contact_hello {
  position: relative;
  text-align: center;
}
.contact_hello h1 {
  font-size: 60px;
  color: #585858;
}

/* Contact form */
form {
  margin-top: 80px;
  transition: all 2s ease-in-out;
}

.form_line {
  width: 30%;
  background: transparent;
  outline: none;
  border: 2px solid #fa6bbe;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 10px;
  font-family: "Lato";
}

input {
  height: 50px;
}

form .send {
  background-color: #fa6bbe;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  border-color: transparent;
}

form .send:hover {
  background-color: #f83eaa;
}

textarea,
input {
  max-width: 600px;
  min-width: 300px;
}
